.v-list.theme-list {
    .v-list-item:hover > .v-list-item__overlay {
        opacity: 1;
        z-index: 1;
    }
    .v-list-item--variant-text {
        .v-list-item__overlay {
            background: rgb(var(--v-theme-hoverColor));
        }
    }

    .v-list-item__prepend,
    .v-list-item__content {
        z-index: 2;
    }

    .v-list-item__overlay {
        background-color: rgb(var(--v-theme-hoverColor));
    }
}
