label[data-v-f06a51fd]{width:80px;text-align:right}label .compo-explain[data-v-f06a51fd]{margin-top:1px}.avatar-add-btn[data-v-f06a51fd]{position:absolute;right:0;bottom:0;border:2px solid #fff;border-radius:50%}
