deepspeed==0.12.3
numpy==1.26.2
tensorboard==2.14.1
transformers==4.38.2
datasets==2.8.0
fsspec==2023.6.0
pyarrow==12.0.0
rouge==1.0.1
tqdm==4.66.1
jieba==0.42.1
nltk==3.8.1
scikit-learn==1.3.2
peft==0.7.1
sentencepiece==0.1.99
sentence-transformers==2.3.0
fire==0.5.0
xformers==0.0.24
einops==0.7.0
transformers_stream_generator==0.0.5